@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../src/Assets/img/pattern.jpg");
}
header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}
header #logo {
  align-self: center;
}

header nav li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
}

header a {
  text-decoration: none;
}

header a :hover {
  font-weight: bold;
}

section {
  max-width: 1000px;
  margin: 100px auto 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

section h1 {
  text-align: center;
  color: #062bcf;
}

section #article-list div {
  margin-top: 30px;
  border-bottom: 1px solid #000000;
}
p {
  text-align: justify;
}

.about {
  text-decoration: none;
  width: 800px;
  background-color: white;
  height: 250px;
  margin: 80px auto;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.about ol {
margin: 10px;
}

#login {
width: 320px;
height: 350px;
border-radius: 30px;
color: #062bcf;
}

#login input {
width: 200px;
}


.list {
  min-height: calc(100vh - 120px);
}
* {
  box-sizing: border-box;
}
.list-tabel {
  max-width: 900px;
  margin: 20px auto;
}

.list-tabel table {
  width: 100%;
  border-spacing: 0;
  
}

td {
  padding: 8px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

thead {
  background-color: #ffc62b;
  color: #ffffff;
  
}
th {
  text-align: left;
  padding: 10px;
  
}

button {
  padding: 8px 20px;
  border: 0;
  background-color: #ffc62b;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 3px;
}

button:hover {
  background-color: #ffaa2b;
}

form {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 10px;
}

form div {
  margin-bottom: 10px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form div label {
  font-weight: 500;
}

form div input, form div textarea {
  width: 50%;
  padding: 5px;
  margin-right: 350px;
  border-radius: 10px;
}

footer {
  background-color: black;
  color: #fff;
  height:50px;
}

footer h5 {
  padding-top: 20px;
  text-align: center;
}
